<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="X-KDApi-ServerUrl" value="http://your-server/k3cloud/"/>
    <add key="X-KDApi-AcctID" value=""/>
    <add key="X-KDApi-UserName" value=""/>
    <add key="X-KDApi-AppID" value=""/>
    <add key="X-KDApi-AppSec" value=""/>
    <add key="X-KDApi-LCID" value="2052"/>
  </appSettings>
</configuration>
